<!DOCTYPE html>
<html>
    <head>
        <title>GoodBrowserGames</title>
    </head>

    <body>
        <h1>GoodBrowserGames</h1>
        <div>
            <a href="{{ url_for('index') }}">Home</a> | 
            <a href="{{ url_for('cadastrar_jogo') }}">Cadastrar jogo</a> |
            <a href="{{ url_for('login') }}">Entrar</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>