<!DOCTYPE html>
<html>
    <head>
        <title>GoodBrowserGames</title>
    </head>

    <body>
        <h1>GoodBrowserGames</h1>
        <div>
            <a href="{{ url_for('index') }}">Home</a> | 
            <a href="{{ url_for('cadastrar_jogo') }}">Cadastrar jogo</a> |
            <a href="{{ url_for('listar_categorias') }}">Categorias</a> |
            <a href="{{ url_for('avaliacoes_mais_uteis') }}">Avaliações mais úteis</a> |
            <a href="{{ url_for('recomendacoes') }}">Recomendações para você</a>
            <span style="position: absolute; right: 50px;">
                {% if current_user.is_anonymous %}
                <a href="{{ url_for('login') }}">Entrar</a>
                {% else %}
                <a href="{{ url_for('logout') }}">Sair</a>
                {% endif %}
            </span>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>