{% extends "base.html" %}

{% block content %}
    <div id="container">
        <h1>Criar Categoria</h1>
        <form action="" method="post" novalidate>
            <p>
                {{ form.nome.label }}<br>
                {{ form.nome(size=32) }}<br>
                {% for error in form.nome.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ form.submit() }}</p>
        </form>
    </div>

    <style>
        #container {
            text-align: center;
        }
    </style>
{% endblock %}