{% extends "base.html" %}

{% block content %}
    <div id="container">
        <div id="form">
            <form action="" method="post" novalidate>
                <span>
                    <b>{{ form_nome.nome.label }}:</b> 
                    {{ form_nome.nome(size=32) }}
                </span>
                <span>  {{ form_cat.submit() }}</span>

                 | 

                <span>
                    <b>{{ form_cat.categoria.label }}:</b> 
                    {{ form_cat.categoria }}
                </span>
                <span>  {{ form_cat.submit() }}</span>
            </form>
        </div>
        {% for jogo in jogos %}
        <div class="jogo">
            <h2>{{ jogo.nome }}</h2>
            <p><b>Categoria:</b> {{ jogo.categoria }}</p>
            <p><b>URL jogo:</b> {{ jogo.url_jogo }}</p>
            <p><b>URL video:</b> {{ jogo.url_video }}</p>
            <p><b>URL imagem:</b> {{ jogo.url_imagem }}</p>
            <p><b>Descrição:</b> {{ jogo.descricao }}</p>
            <p class="botoes"><a href="/editar-jogo/{{jogo.id}}">Editar</a></p>
            <p class="botoes"><a href="/delete-jogo/{{jogo.id}}">Excluir</a></p>
            <p class="botoes"><a href="/">Avaliações</a></p>
        </div>
        {% endfor %}
    </div>

    <style>

        .jogo {
            border: 1px solid green;
            display: inline-block;
            max-width: 300px;
            margin: 10px;
            padding: 5px;
            text-align: center;
        }

        .jogo h2 {
            color: red;
        }

        .botoes {
            display: inline;
            width: 48%;
            margin: 5px;
        }

        #form {
            text-align: right;
            margin: 5px;
            padding: 5px;
        }

    </style>
{% endblock %}